sudo: false
language: ruby
rvm:
  - 2.5
env:
  global:
    - PGPORT: 5433
  jobs:
    - PGVERSION: "9.6"
    - PGVERSION: "10"
    - PGVERSION: "11"
    - PGVERSION: "12"
services:
  - postgresql
before_install:
  - sudo service postgresql stop
  - sudo apt-get update
  - sudo apt-get -y install postgresql-$PGVERSION postgresql-client-$PGVERSION postgresql-server-dev-$PGVERSION postgresql-client-common postgresql-common
  - if [ $PGVERSION != '9.6' ]; then sudo cp /etc/postgresql/{9.6,$PGVERSION}/main/pg_hba.conf; fi
  - sudo systemctl start postgresql@$PGVERSION-main
  - gem uninstall -v '>= 2' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v 1.15.4
gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile
script: "bundle exec rake spec"
