name: CI
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        pg:
          - 14
          - 15
          - 16
          - 17
          - 18
        ruby:
          - "3.2"
          - "3.3"
          - "3.4"
        gemfile:
          - rails_7.1
          - rails_7.2
          - rails_8.0
          - rails_8.1
        partman:
          - 4
          - 5
        exclude:
          - pg: 17
            partman: 4 # Partman 4.x is not available in PGDG for PG 17
          - pg: 18
            partman: 4 # Partman 4.x is not available in PGDG for PG 18
    name: PostgreSQL ${{ matrix.pg }} - Partman ${{ matrix.partman }} - Ruby ${{ matrix.ruby }} - ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      ImageOS: ubuntu20
    steps:
      - uses: actions/checkout@v3
      - name: Build postgres image and start the container
        run: docker compose up -d --build
        env:
          PGVERSION: ${{ matrix.pg }}
          PARTMAN_VERSION: ${{ matrix.partman }}
      - name: Setup Ruby using .ruby-version file
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec rake spec
